@model App.BLL.DTO.ContestType

@{
    ViewData["Title"] = @App.Resources.Views.Shared._Layout.ContestType;
}

<h1 class="middle">@App.Resources.Views.Shared._Layout.Delete @App.Resources.Views.Shared._Layout.ContestType</h1>

<div>
    <hr/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <dl class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <dt class="col-sm-4">
                            @App.Resources.Domain.ContestType.ContestTypeName
                        </dt>
                        <dd class="col-sm-8">
                            @Model.ContestTypeName)
                        </dd>
                        <dt class="col-sm-4">
                            @App.Resources.Domain.ContestType.Description
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                    </div>
                </div>
            </div>
        </dl>
        <input type="submit" value="@App.Resources.Views.Shared._Layout.Delete" class="btn btn-danger"/> |
        <a asp-action="Index">@App.Resources.Views.Shared._Layout.Back_To_List</a>
    </form>
</div>